<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>转出记录</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">流水号</th>
          <th class="text-center">转出方式</th>
          <th class="text-center">转出金额</th>
          <th class="text-center">转出时间</th>
          <th class="text-center">操作</th>

        </tr>
        </thead>
        <tbody>
        <% @takeouts.each do |takeout| %>
            <% if takeout.red.to_s != '' %>
                <tr class="text-danger">
            <% elsif Takeout.where('ordernumber = ?',takeout.ordernumber).count > 1 %>
                <tr class="text-muted">
            <% else %>
                <tr>
            <% end %>
              <td><%= takeout.ordernumber %></td>
              <td>
                <% if takeout.card %>
                <%= takeout.card.bankdeposit %>
                    <%= takeout.card.bankaccount[0,4] %>
                    ***
                    <%= takeout.card.bankaccount[-4,4] %>
                    <% else %>
                现金
                <% end %>

              </td>
              <td><%= sprintf("%.2f",takeout.amount) %></td>
              <td><%= takeout.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td>
              <% if Takeout.where('ordernumber = ?',takeout.ordernumber).count == 1 && authen('takeoutred') %>
                  <%= link_to '红冲',redto_user_takeout_path(@user,takeout) %>
              <% elsif takeout.red.to_s != '' && authen('takeoutred') %>
                  <%= link_to '反冲',redto_user_takeout_path(@user,takeout) %>
              <% end %>
            </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="text-right">
      <%= link_to "转出",new_user_takeout_path(@user),class: "btn btn-w-m btn-primary" %>&nbsp;
      <%= link_to "返回",user_path(@user),class: "btn btn-w-m btn-primary" %>
      </div>
      <br>
    </div>
  </div>
</div>
<%=render 'layerend' %>