<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> <span>
                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle">
                                <span class="clear">
                                  <span class="block m-t-xs">
                                    <strong class="font-bold"><%= session[:username] %></strong>
                                   </span>
                                  <span>当前管理员 </span>
                                </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li class="divider"></li>
              <li><%= link_to '退出' %>
              </li>

            </ul>
          </div>
          <div class="logo-element">
            H+
          </div>
        </li>



        <li data-turbolinks="false">
          <a href="">
            <i class="fa fa-bars"></i>
            <span class="nav-label">用户</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to '区域',regions_path,'data-no-turbolink'=>true%>
            </li>
            <li>
              <%= link_to '用户',users_path,'data-no-turbolink'=>true%>
            </li>
          </ul>
        </li>

        <li data-turbolinks="false">
          <a href="">
            <i class="fa fa-bars"></i>
            <span class="nav-label">系统</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to '管理员',admins_path,'data-no-turbolink'=>true%>
            </li>
            <li>
              <%= link_to '存息版本',interestversions_path,'data-no-turbolink'=>true%>
            </li>
            <li>
              <%= link_to '存入方式',deposittypedefs_path,'data-no-turbolink'=>true%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="page-wrapper" class="gray-bg dashbard-1">
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

      <ul class="nav navbar-top-links navbar-right">
        <li data-turbolinks="false">
          <span class="m-r-sm text-muted welcome-message"><a href="/counts" title="返回首页"><i class="fa fa-home"></i></a>云南小粒咖啡</span>
        </li>


        <li>
          <a href="/logins?command=exit">
            <i class="fa fa-sign-out"></i>安全退出
          </a>
        </li>
      </ul>

    </nav>
  </div>